	iframe
	{
		width: 100%;
		min-height: 700px;
		margin: 0px;
		padding: 0px;
		position: absolute;
		z-index: -1;
		top: 0px
		left:0px;
		left: 0px;
		bottom: 0px;

	}

	body
	{
		margin: 0px;
		padding: 0px;
		background-color: black;
	}
	#info
	{
	position: absolute;
		z-index: 1;
		color: white;
		
		width: 100%;
		height: 100%;
			
	}
	#disp
	{
		margin-left: 65%;
		margin-right: 5%;
	
		height: 600px;
		width: 430px;
		margin-top: 5%;
		padding: 10px;
		
	}
.head
	{
	background-color: black;	
		border: black solid 3px;
	border-radius: 15px 15px 15px 0px;
	padding: 1em;
	}
.head > #time > h2 , .head  > h1
{
	margin: 0px;

}

.head > h1
{   
	font-size: 24px;
	font-family: 'Kanit', sans-serif;


}
.head >#time> h2 , .head >#time> h3
{
	margin: 0px;
	font-size: 18px;
	color: #515151;



	

}
#time
{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.icon
{
	width: 100px;
	height: 100px;


}
.logo
{
	
	
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	display: flex;
	flex-wrap: wrap;
	width: 430px;
	height: 450px;
	overflow-y: scroll;
	 scrollbar-color: white black;
	
	
	
}
.logo > p
{
	margin: 0px;
	text-align: center;

}
.inf
{
	border: black solid 3px;
	border-radius: 15px;
	margin: 0.4em;
	margin-left: 0px;
	padding:0.5em;
	background-color: black;
	text-align: center;
	width: 105px;
	opacity: 0.7;

}
.inf:hover
{
	border-style: dotted;
	border-color: white;
	opacity: 1;
}
audio
{
	display: none;
}
.foot
{
	
	color: white;
	display: flex;

}

.foot > div >img
{
	width: 20px;
	height: 20px;
	margin: 15px;


}
.foot > div
{
	
	border: black solid 3px;
	border-radius: 5px;
	display: flex;
	flex-wrap: nowrap;
	margin: 0.3em;
	padding-left:1em;
	padding-right: 1em;
	background-color: black;

}

.foot > div:hover
{
	background-color:white;
	color: black;
}
.foot > div >img , .foot > div >p
{margin-top: 5px;
	margin-bottom: 5px;}
.foot > div >p>a
{
	text-decoration:none;
	color: white;
	
}
.foot > div:hover > p >a 
{
	
	color: black;
}